/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

/* General styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Header container */
.header {
  background: linear-gradient(to right, #be37a1, #2980b9);
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header.visible {
  transform: translateY(0);
  opacity: 1;
}

.header.hidden {
  transform: translateY(-80%);
  opacity: 0.9;
}

/* Top bar styling */
.top-bar {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #004085;
}

.contact-info {
  display: flex;
  gap: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-info span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-icons a {
  color: white;
  margin-left: 15px;
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #ffd700;
  transform: scale(1.1);
}

/* Logo and school name container */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logo img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.school-name {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Navigation menu */
.menu {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background: #004085;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.menu a:hover {
  background: white;
  color: #0052a2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    text-align: center;
  }

  .logo-container {
    padding: 10px 0;
  }

  .menu {
    flex-wrap: wrap;
    padding: 10px;
  }

  .menu a {
    margin: 5px;
  }
}
